<template>
    <v-card flat>
        <v-card-text>
            <v-tabs dark color="primary" class="elevation-0" grow v-model="active">
                <v-tab v-for="{ title } in tabs" :key="title" ripple>
                    {{title}}
                </v-tab>
                <v-tab-item v-for="{title, component, props, id} in tabs" :key="id">
                    <component :is="component" v-bind="props"></component>
                </v-tab-item>
            </v-tabs>
        </v-card-text>
    </v-card>
</template>

<script>
export default {
  name: 'Cell',
  props: {
    cell: Object
  },
  data() {
    return {
      // sets the default active tab to geography
      active: 0
    }
  },
  computed: {
    // list of tabs {title, component}
    tabs: function() {
      return []
    }
  }
}
</script>

<style scoped>
ul {
  margin-top: 10px;
  margin-bottom: 10px;
}
.chart {
  max-width: 500px;
}
</style>
