<template>
  <v-layout row wrap>
    <v-flex xs4 class="ml-4 mt-2">
      <ul>
        <li v-for="(r, i) in display" :key="i">{{r}}</li>
      </ul>
    </v-flex>
    <v-flex xs7>
      <culture-chart class="chart" :cultures="standard"></culture-chart>
    </v-flex>
  </v-layout>
</template>

<script>
import CultureChart from '@/components/charts/CultureChart'
import { piePrep } from '@/model/utilities/common'
export default {
  name: 'Culture',
  props: {
    cell: {
      type: Object,
      required: true
    },
    text: {
      type: Array,
      default: function () { return [] }
    }
  },
  components: {
    'culture-chart': CultureChart
  },
  computed: {
    standard: function() {
      const labels = []
      const data = []
      const colors = []
      // sort culture entries by percent and format pie chart data & labels
      Object.entries(this.cell.normal)
        .sort((a, b) => b[1] - a[1])
        .forEach(([culture, percent]) => {
          labels.push(this.cell.cultures[culture].name)
          data.push(percent.toFixed(2))
          colors.push(this.cell.cultures[culture].display)
        })
      return piePrep([labels, data, colors])
    },
    culture: function() {
      const cell = this.cell
      const cultures = Object.entries(cell.normal).sort((a, b) => b[1] - a[1])
      const other = cultures
        .map(([culture, percent]) => percent)
        .filter(percent => percent < 1)
        .reduce((total, percent) => total + percent, 0)
      const majors = cultures.filter(([culture, percent]) => percent >= 1)
      return `Cultures: ${majors.sort((a, b) => b[1] - a[1]).map(([key, percent]) => `${cell.cultures[key].name} (${percent.toFixed(2)}%)`)
        .concat(`Other (${other.toFixed(2)}%)`)
        .join(', ')}`
    },
    display: function() {
      return [this.culture, ...this.text]
    }
  }
}
</script>
