<template>
  <v-layout row wrap class="ma-2">
    <npc-table :entities="entities" v-if="populated">
      <v-select slot="select-1" label="District:" :items="Object.keys(districts)" v-model="district" v-if="districts"></v-select>
      <v-select slot="select-2" label="Building:" :items="Object.keys(buildings)" v-model="building" v-if="buildings"></v-select>
    </npc-table>
    <span v-if="!populated">
      <v-btn @click="spawn()" color="primary">Spawn</v-btn>
    </span>
  </v-layout>
</template>

<script>
import NPCTable from '@/components/npc/NPCTable'

export default {
  name: 'Entities',
  props: {
    cell: Object
  },
  data() {
    return {
      buildings: undefined,
      building: '',
      districts: undefined,
      district: ''
    }
  },
  components: {
    'npc-table': NPCTable
  },
  computed: {
    entities: function() {
      return this.buildings ? this.buildings[this.building].entities : []
    },
    populated: function() {
      return this.cell.populated
    }
  },
  methods: {
    travel() {
      this.search = ''
      this.districts = this.cell.districts.reduce((dict, district) => {
        dict[district.name] = district
        return dict
      }, {})
      Object.keys(this.districts).length === 0 && this.setBuildings(this.cell.buildings)
    },
    setBuildings(buildings) {
      this.buildings = buildings.reduce((dict, building) => {
        dict[building.name] = building
        return dict
      }, {})
    },
    spawn() {
      this.cell.spawn()
      this.travel()
    }
  },
  watch: {
    buildings: function(buildings) {
      this.building = window.dice.choice(Object.keys(this.buildings))
    },
    district: function(district) {
      this.populated && this.setBuildings(this.districts[this.district].buildings)
    },
    districts: function(districts) {
      if (this.populated && districts) {
        this.district = window.dice.choice(Object.keys(this.districts))
      }
    },
    cell: function(cell) {
      this.populated && this.travel()
    }
  }
}
</script>
