<template>
  <v-layout row wrap>
    <v-flex xs4 class="ml-4 mt-2">
      <ul>
        <li v-for="(r, i) in display" :key="i">{{r}}</li>
      </ul>
    </v-flex>
    <v-flex xs7>
      <PieChart class="chart" :chart-data="standard"></PieChart>
    </v-flex>
  </v-layout>
</template>

<script>
import PieChart from '@/components/charts/pieChart.js'
import { piePrep } from '@/model/utilities/common'
export default {
  name: 'Geography',
  props: {
    cell: {
      type: Object,
      required: true
    },
    text: {
      type: Array,
      default: function() {
        return []
      }
    }
  },
  components: { PieChart },
  computed: {
    standard: function() {
      const labels = []
      const data = []
      const colors = []
      // sort biome entries by percent and format pie chart data & labels
      Object.entries(this.cell.biomeDist)
        .sort((a, b) => b[1] - a[1])
        .forEach(([biome, percent]) => {
          labels.push(this.cell.biomes[biome].name)
          data.push(percent.toFixed(2))
          colors.push(this.cell.biomes[biome].primary)
        })
      return piePrep([labels, data, colors])
    },
    geography: function() {
      const cell = this.cell
      const biomes = Object.entries(cell.biomeDist)
      return [
        `Biomes: ${biomes
          .sort((a, b) => b[1] - a[1])
          .map(([key, percent]) => `${cell.biomes[key].name} (${percent.toFixed(2)}%)`)
          .join(', ')}`,
        `Landmass: ${(cell.land.length * cell.dim.cellArea).toLocaleString('en-US')} square miles`
      ]
    },
    display: function() {
      return [...this.geography, ...this.text]
    }
  }
}
</script>
