<template>
  <v-timeline>
    <v-timeline-item v-for="({ time, title, color, event }, i) in events" fill-dot :key="i" :color="color">
      <span slot="opposite">{{time.toLocaleDateString()}}</span>
      <v-card class="elevation-2">
        <v-card-title class="headline">{{title}}</v-card-title>
        <v-card-text>{{event}}</v-card-text>
      </v-card>
    </v-timeline-item>
  </v-timeline>
</template>

<script>
export default {
  name: 'History',
  props: {
    cell: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      headers: [
        {
          text: 'Time',
          align: 'left',
          value: 'time'
        },
        {
          text: 'Event',
          align: 'left',
          value: 'event'
        }
      ],
      // table search filter
      search: '',
      // table pagination controls
      pagination: {
        rowsPerPage: 5
      }
    }
  },
  computed: {
    events: function() {
      const cell = this.cell
      return cell.history.map(([time, idx, event]) => {
        const title = window.world.regions[idx].name
        const color = window.world.regions[idx].color
        return { time, title, color, event }
      })
    }
  }
}
</script>
