<template>
    <v-layout row wrap>
        <v-flex xs4 class="ml-4 mt-2">
            <v-select :items="neighbors" item-text="name" item-value="idx" v-model="selected" label="Border:" autocomplete></v-select>
            <ul>
                <li>History: {{cell.relations[compare.idx].toFixed(4)}}</li>
                <li>Similarity: {{cell.similarity[compare.idx].toFixed(4)}}</li>
                <li>Relations: {{cell.relation(compare.idx).toFixed(4)}}</li>
            </ul>
            <v-divider class="my-2"></v-divider>
            <ul>
                <li>{{government}}</li>
                <li>{{economics}}</li>
                <li>{{aggression}}</li>
                <li>{{liberalism}}</li>
                <li>{{diplomacy}}</li>
                <li>{{religion}}</li>
                <li>{{magic}}</li>
                <li>{{technology}}</li>
            </ul>
        </v-flex>
        <v-flex xs7 class="ml-4 mt-2">
            <Radar class="chart" :chart-data="radarData" :host="cell.name"></Radar>
        </v-flex>
    </v-layout>
</template>

<script>
import Radar from '@/components/charts/radarChart'
import { title } from '@/model/utilities/common'
export default {
  name: 'Politics',
  props: {
    cell: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      selected: 0
    }
  },
  components: { Radar },
  computed: {
    government() {
      const gov = this.cell.traits.government
      const k = gov > 0.6 ? 'Monarchy' : gov > 0.2 ? 'Republic' : 'City-States'
      return `Government: ${k}`
    },
    economics() {
      const econ = this.cell.traits.economics
      const k = econ > 0.75 ? 'Managed' : econ < 0.25 ? 'Capitalist' : 'Mixed'
      return `Economy: ${k}`
    },
    aggression() {
      const v = this.cell.traits.aggression
      const k = v > 0.75 ? 'High' : v < 0.25 ? 'Low' : 'Average'
      return `Aggression Level: ${k}`
    },
    liberalism() {
      const v = this.cell.traits.liberalism
      const k = v > 0.75 ? 'High' : v < 0.25 ? 'Low' : 'Average'
      return `Cultural Tolerance: ${k}`
    },
    diplomacy() {
      const v = this.cell.traits.diplomacy
      const k = v > 0.75 ? 'Engagement' : v > 0.5 ? 'Moderate' : v > 0.25 ? 'Neutral' : 'Isolationist'
      return `Foreign Policy: ${k}`
    },
    religion() {
      const v = this.cell.traits.religion
      const k = v > 0.5 ? 'Polytheism' : 'Monotheism'
      return `Religion: ${k}`
    },
    magic() {
      const v = this.cell.traits.magic
      const k = v > 0.75 ? 'Embracing' : v > 0.25 ? 'Distrustful' : 'Outlawed'
      return `Magic: ${k}`
    },
    technology() {
      const v = this.cell.traits.technology
      const k = v > 0.75 ? 'High' : v < 0.25 ? 'Low' : 'Average'
      return `Technology Level: ${k}`
    },
    host: function() {
      return this.cell.color
    },
    guest: function() {
        return this.compare.color
    },
    neighbors: function() {
      return this.cell.contacts
        .map((n, i) => {
          const relation = this.cell.relation(n.idx)
          return { name: `${n.name}: (${relation.toFixed(2)})`, idx: i, relation }
        })
        .sort((a, b) => b.relation - a.relation)
    },
    compare: function() {
      return this.cell.contacts[this.selected]
    },
    radarData: function() {
      return {
        labels: this.labels(this.cell),
        datasets: [
          { label: 'Home', data: this.data(this.cell), ...this.color(this.host), name: this.cell.name },
          { label: 'Border', data: this.data(this.compare), ...this.color(this.guest), name: this.compare.name }
        ]
      }
    }
  },
  methods: {
    labels(cell) {
      return Object.keys(cell.traits).map(t => title(t))
    },
    data(cell) {
      return Object.values(cell.traits)
    },
    color(c) {
      return {
        backgroundColor: c.replace(')', ', 0.2)'),
        borderColor: c,
        pointBackgroundColor: c
      }
    }
  },
  watch: {
    cell: function() {
      this.selected = 0
    }
  }
}
</script>
