<template>
    <v-layout row wrap>
        <v-flex xs3 class="ml-4 mt-2 mr-4">
            <span>Strength / Advanatge</span>
            <v-divider class="my-2"></v-divider>
            <ul>
                <li>Military: {{cell.rmilitary.toFixed(2)}} ({{cell.advantage.military.toFixed(2)}})</li>
                <li>Economy: {{cell.reconomy.toFixed(2)}} ({{cell.advantage.economics.toFixed(2)}})</li>
                 <li>Population: {{(cell.population / 1000000).toFixed(2)}}M ({{cell.ginfluence.toFixed(2)}})</li>
            </ul>
            <v-checkbox v-model="local" label="Borders Only"></v-checkbox>
        </v-flex>
        <v-flex xs7>
            <Bubble class="chart" :chart-data="bubbleData"></Bubble>
        </v-flex>
    </v-layout>
</template>

<script>
import Bubble from '@/components/charts/bubbleChart'
export default {
  name: 'Power',
  props: {
    cell: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      local: true
    }
  },
  components: { Bubble },
  computed: {
    regions: function() {
        return this.cell.neighbors.concat([this.cell]).map(r => r.idx)
    },
    bubbleData: function() {
      const radius = 200
      const regions = [...Object.values(window.world.regions)]
      return {
        datasets: regions.sort((a, b) => a.influence - b.influence).map((r, i) => {
          return {
            label: r.name,
            backgroundColor: r.idx === this.cell.idx ? r.color : r.color.replace(')', ', 0.35)'),
            borderColor: r.color,
            hidden: this.local && !this.regions.includes(r.idx),
            data: [
              {
                x: r.rmilitary,
                y: r.reconomy,
                r: r.ginfluence * radius,
                i: `${(r.population / 1000000).toFixed(2)}M`
              }
            ]
          }
        })
      }
    }
  }
}
</script>
