<template>
    <v-layout row wrap class="ma-2">
        <npc-table :entities="entities"></npc-table>
    </v-layout>
</template>

<script>
import NPCTable from '@/components/npc/NPCTable'
import { range } from '@/model/utilities/common'
export default {
  name: 'Registry',
  components: {
    'npc-table': NPCTable
  },
  data() {
    return {
      npcgen: window.world.npcgen.ancestry
    }
  },
  computed: {
    entities: function() {
      return range(this.npcgen._idx)
    }
  }
}
</script>
