 <template>
    <v-card flat>
        <v-card-text>
            <v-layout row wrap class="ma-2">
                <v-flex class="ml-2" xs5>Name: {{name}}</v-flex>
                <v-flex class="ml-2" xs6>Culture: {{`${npc.race.name}`}}</v-flex>
                <v-flex class="ml-2" xs5>Profession: {{npc.profession}}</v-flex>
                <v-flex class="ml-2 capitalize" xs6>Gender: {{npc.gender}}</v-flex>
                <v-flex class="ml-2" xs5>Level: {{(npc.inventory.itemLevel * 10).toFixed(2)}}</v-flex>
                <v-flex class="ml-2" xs5>Health: {{`${npc.attributes.health.toFixed(2)} / ${npc.attributes.maxHealth.toFixed(2)}`}}</v-flex>
                <v-flex class="ml-2" xs5>Sanity: {{`${npc.attributes.compute('sanity').toFixed(2)} / ${npc.attributes.stats.sanity.toFixed(2)}`}}</v-flex>
                <v-flex class="ml-2" xs5>Base Intensity: {{`${npc.attributes.stats.intensity.toFixed(2)}`}}</v-flex>
                <v-flex xs12 class="mt-2">
                    <v-data-table :headers="headers" :items="stats" hide-actions class="elevation-1">
                        <template slot="items" slot-scope="props">
                            <td class="text-xs-left capitalize">{{ props.item.name }}</td>
                            <td class="text-xs-left">{{ props.item.desc }}</td>
                        </template>
                    </v-data-table>
                </v-flex>
            </v-layout>
        </v-card-text>
    </v-card>
</template>

<script>
export default {
  name: 'Attributes',
  props: {
    npc: Object
  },
  data() {
    return {
      headers: [
        { align: 'left', text: 'Attribute', value: 'name' },
        { align: 'left', text: 'Description', value: 'desc' }
      ]
    }
  },
  computed: {
    stats: function() {
      return this.npc.attributes.desc
    },
    name: function () {
      const patronymic = this.npc._last ? ` (${this.npc._last})` : ''
      return `${this.npc.name}${patronymic}`
    }
  }
}
</script>

