<template>
  <v-card flat class="transparent">
    <v-card-title>
      <div class="headline underline">Starting Location:</div>
    </v-card-title>
    <v-card-text>
      <v-layout row wrap>
        <v-flex xs3 class="mx-1">
          <v-autocomplete
            :items="regions"
            item-text="name"
            item-value="idx"
            return-object
            v-model="region"
            label="Region:"
          ></v-autocomplete>
        </v-flex>
        <v-flex xs3 class="mx-1">
          <v-select :items="locales" v-model="locale" label="Location Type:" v-if="selectedRegion"></v-select>
        </v-flex>
        <v-flex xs3 class="mx-1">
          <v-autocomplete
            :items="cities"
            item-text="name"
            item-value="idx"
            return-object
            v-model="city"
            :label="`${locale}:`"
            v-if="selectedRegion"
          ></v-autocomplete>
        </v-flex>
        <v-flex xs2 class="mx-1">
          <v-btn small icon class="primary--text" @click.native="zoomTo">
            <v-icon>my_location</v-icon>
          </v-btn>
          <v-btn icon outline class="teal--text" @click="randomRegion">
            <v-icon>refresh</v-icon>
          </v-btn>
        </v-flex>
      </v-layout>
    </v-card-text>
    <v-card-title>
      <div class="headline underline">Character Creation:</div>
    </v-card-title>
    <v-card-text>
      <v-layout row wrap>
        <v-flex xs5 class="mx-1">
          <v-text-field v-model="first" label="First:"></v-text-field>
        </v-flex>
        <v-flex xs5 class="mx-1">
          <v-text-field v-model="last" label="Last:"></v-text-field>
        </v-flex>
        <v-flex xs1 class="mx-1">
          <v-btn
            icon
            outline
            class="teal--text"
            @click="randomName"
            :disabled="!culture || !gender"
          >
            <v-icon>refresh</v-icon>
          </v-btn>
        </v-flex>
        <v-flex xs5 class="mx-1">
          <v-select :items="genders" v-model="gender" label="Gender:"></v-select>
        </v-flex>
        <v-flex xs5 class="mx-1">
          <v-select
            :items="localCultures"
            item-text="name"
            item-value="idx"
            return-object
            v-model="culture"
            label="Culture:"
            v-if="selectedCulture"
            :hint="`${selectedCulture.climate} ${selectedCulture.subRace}`"
            persistent-hint
          ></v-select>
        </v-flex>
        <v-flex xs1 class="mx-1">
          <v-btn icon outline class="teal--text" @click="randomCulture" :disabled="!selectedRegion">
            <v-icon>refresh</v-icon>
          </v-btn>
        </v-flex>
        <v-flex xs5 class="mx-1">
          <v-select :items="classes" v-model="classname" label="Class:" v-if="selectedCulture"></v-select>
        </v-flex>
        <v-flex xs1 class="mx-1">
          <v-btn
            icon
            outline
            class="teal--text"
            @click="randomClass"
            :disabled="!culture || !gender"
          >
            <v-icon>refresh</v-icon>
          </v-btn>
        </v-flex>
      </v-layout>
    </v-card-text>
    <v-card-actions>
      <v-btn class="ml-3" color="secondary" @click="begin">begin journey</v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
export default {
  name: 'CharGen',
  data() {
    return {
      first: '',
      last: '',
      gender: 'Male',
      genders: ['Male', 'Female'],
      culture: '',
      locale: 'City',
      types: ['Capital', 'City', 'Town'],
      locales: ['Capital', 'City', 'Town'],
      city: '',
      region: '',
      classname: ''
    }
  },
  mounted() {
    this.randomRegion()
  },
  computed: {
    cities: function() {
      const region = this.selectedRegion
      return region.territories
        .filter(city => city.type === this.locale)
        .map(city => {
          return { name: city.name, idx: city.idx }
        })
    },
    location: function() {
      return this.world.locations[this.city.idx]
    },
    selectedRegion: function() {
      return this.world.regions[this.region.idx]
    },
    localCultures: function() {
      return Object.entries(this.location.normal)
        .sort((a, b) => {
          return b[1] - a[1]
        })
        .filter(([k, percent]) => percent > 0.1)
        .map(([k, percent]) => {
          const culture = this.cultures[k]
          return { name: `${culture.name}: ${percent.toFixed(2)}%`, idx: k }
        })
    },
    selectedCulture: function() {
      return this.cultures[this.culture.idx]
    },
    cultures: function() {
      return this.world.cultures
    },
    regions: function() {
      return Object.values(this.world.regions)
        .filter(r => !r.conquered)
        .map(region => {
          return { name: region.name, idx: region.idx }
        })
    },
    classes: function() {
      return this.selectedCulture.classes
    },
    npcGen: function() {
      return this.world.npcgen
    },
    world: function() {
      return window.world
    }
  },
  methods: {
    begin() {
      const city = this.location
      const avatar = this.npcGen.Pyromancer({
        culture: this.cultures[this.culture.idx],
        location: city,
        gender: this.gender.toLowerCase(),
        first: this.first,
        last: this.last
      })
      this.$store.commit('setAvatar', { avatar: avatar, loc: this.city.idx })
    },
    randomRegion() {
      this.region = window.dice.choice(this.regions)
    },
    randomCulture() {
      this.culture = this.localCultures[0]
    },
    randomClass() {
      this.classname = window.dice.choice(this.classes)
    },
    randomName() {
      this.first = this.selectedCulture.genName('first', this.gender.toLowerCase())
      this.last = this.selectedCulture.genName('last')
    },
    zoomTo() {
      const city = this.location
      this.$store.commit('setTarget', { x: city.x, y: city.y, name: city.name })
    }
  },
  watch: {
    regions: function(regions) {
      this.randomRegion()
    },
    region: function(region) {
      this.locales = this.types.filter(l => {
        return (
          this.selectedRegion.territories.filter(city => city.type === l).length > 0
        )
      })
      this.locale = window.dice.choice(this.locales)
      this.city = window.dice.choice(this.cities)
    },
    locale: function(locale) {
      this.city = window.dice.choice(this.cities)
    },
    city: function(locale) {
      this.randomCulture()
    },
    culture: function() {
      this.gender = window.dice.choice(this.genders)
      this.randomClass()
      this.randomName()
    },
    gender: function() {
      this.randomName()
    }
  }
}
</script>
