<template>
    <v-tabs v-model="active" class="elevation-1" grow>
        <v-tabs-bar class="primary" dark>
            <v-tabs-item key="Attributes" href="#Attributes" ripple>
                Attributes
            </v-tabs-item>
            <v-tabs-slider color="accent"></v-tabs-slider>
        </v-tabs-bar>
        <v-tabs-items>
            <v-tabs-content key="Attributes" id="Attributes">
                <attributes :npc="npc"></attributes>
            </v-tabs-content>
        </v-tabs-items>
    </v-tabs>
</template>

<script>
import Attributes from '@/components/character/statistics/Attributes'
export default {
  name: 'CharStats',
  props: {
      npc: Object
  },
  data() {
    return {
      active: 'Attributes'
    }
  },
  components: {
      attributes: Attributes
  }
}
</script>

