<template>
    <v-tabs dark color="primary" class="ma-2" v-model="active" grow>
        <v-tab key="Equipment" href="#Equipment" ripple>
            Equipment
        </v-tab>
        <v-tab key="Inventory" href="#Inventory" ripple>
            Inventory
        </v-tab>
        <v-tab-item key="Equipment" id="Equipment">
            <items :inventory="npc.equipment" :npc="npc" :equipment="true"></items>
        </v-tab-item>
        <v-tab-item key="Inventory" id="Inventory">
            <items :inventory="npc.stash" :npc="npc"></items>
        </v-tab-item>
    </v-tabs>
</template>

<script>
import Items from '@/components/character/inventory/Items'
export default {
  name: 'Inventory',
  props: {
    npc: Object
  },
  data() {
    return {
      active: 'Equipment'
    }
  },
  components: {
    items: Items
  }
}
</script>

