<template>
    <v-card flat>
        <v-card-text>
            <v-layout row wrap>
                <v-flex class="ml-2" xs5>Name: {{avatar.name}}</v-flex>
                <v-flex class="ml-2" xs5>Time: {{time.toLocaleString()}}</v-flex>
                <v-flex class="ml-2 capitalize" xs12>Gender: {{avatar.gender}}</v-flex>
                <v-flex class="ml-2" xs12>Culture: {{`${avatar.race.name}`}}</v-flex>
                <v-flex class="ml-2" xs12>Profession: {{avatar.profession}}</v-flex>
            </v-layout>
        </v-card-text>
    </v-card>
</template>

<script>
import { mapState } from 'vuex'
export default {
  name: 'Journal',
  computed: {
    ...mapState(['avatar', 'loc']),
    time: function() {
      const loc = window.world.locations[this.loc]
      return window.world.localtime(loc)
    }
  }
}
</script>

