<template>
    <v-dialog v-model="dialog" persistent scrollable :max-width="width">
        <v-card>
            <v-card-title>
                <slot name="dialog-title"></slot>
            </v-card-title>
            <v-divider></v-divider>
            <v-card-text>
                <slot name="dialog-content"></slot>
            </v-card-text>
            <v-divider></v-divider>
            <v-card-actions>
                <v-spacer></v-spacer>
                <slot name="dialog-actions"></slot>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>
<script>
export default {
  name: 'modal',
  props: {
    dialog: {
      type: Boolean,
      required: true
    },
    width: {
      type: String,
      default: '70%'
    }
  }
}
</script>
