<template>
  <v-card class="elevation-0 mapinfo">
    <v-card-text>
      <v-layout row wrap align-center justify-center>
        <v-flex xs12>
          <v-layout row align-center justify-center>
            <v-flex xs6>
              <svg id="cityMaps" @click="freeze()" :style="svgBinds">
                <defs>
                  <!-- <pattern id="shallowHatch" width="3" height="4" patternTransform="rotate(90 0 0)" patternUnits="userSpaceOnUse">
                    <line x1="0" y1="0" x2="0" y2="4" style="stroke: black; stroke-width: 1; fill: black;" />
                  </pattern> -->
                </defs>
                <g id="maps">
                  <g class="buildings">
                    <path v-for="(d, i) in display.structures" :key="i" :d="d.d" :fill="d.fill" :transform="d.t"></path>
                  </g>
                  <g class="layout">
                    <path v-for="(d, i) in display.shape" :key="i" :d="d.d" fill="none" :stroke-width="0.75" :stroke="d.fill" stroke-linejoin="round"></path>
                  </g>
                  <g class="roads">
                    <path v-for="(d, i) in display.roads" :key="i" :d="d.d" fill="none" :stroke-width="0.75" :stroke="'grey'"  stroke-linejoin="round" stroke-linecap="round"></path>
                  </g>
                  <g class="walls">
                    <g v-for="(d, i) in display.walls" :key="i">
                      <path :d="d.d" fill="none" :stroke-width="1" :stroke="'black'" ></path>
                      <circle :transform="d.v1" r="1" fill="black"></circle>
                      <circle :transform="d.v2" r="1" fill="black"></circle>
                    </g>
                  </g>
                  <g class="gates">
                    <g v-for="(d, i) in display.gates" :key="i">
                      <rect :transform="d.t" height="3" width="3" fill="black"></rect>
                    </g>
                  </g>
                </g>
              </svg>
            </v-flex>
          </v-layout>
        </v-flex>
        <v-flex xs12>
          {{`${x}, ${y} | ${debug.label}`}}
        </v-flex>
      </v-layout>
    </v-card-text>
  </v-card>
</template>

<script>
import * as d3 from 'd3'
import CityBlueprint from '@/model/places/blueprints/city'
export default {
  name: 'CityMaps',
  data() {
    return {
      x: 0,
      y: 0,
      frozen: false,
      debug: { label: '' },
      zoom: {},
      blueprint: new CityBlueprint()
    }
  },
  mounted() {
    this.panZoom()
  },
  methods: {
    panZoom(d) {
      this.zoom = d3
        .zoom()
        .scaleExtent([1, 30])
        .translateExtent([[0, 0], [this.dim.w, this.dim.h]])
        .on('zoom', this.zoomed)
      let init = d3.select('#cityMaps')
      this.zoom.scaleTo(init, 1)
      init.on('touchmove mousemove', this.mouseover)
      init.call(this.zoom)
    },
    zoomed() {
      d3
        .select('#cityMaps')
        .select('#maps')
        .attr('transform', d3.event.transform)
    },
    mouseover() {
      if (!this.frozen) {
        const [x, y] = d3.mouse(this.$el.querySelector('#maps'))
        x < this.dim.w - 1 && (this.x = Math.round(x))
        y < this.dim.h - 1 && (this.y = Math.round(y))
        this.updateDebug()
      }
    },
    freeze() {
      this.frozen = !this.frozen
    },
    updateDebug() {
      const cell = this.blueprint.diagram.find(this.x, this.y).index
      const poly = this.blueprint.polygons[cell]
      this.debug.label = poly.label
    }
  },
  computed: {
    dim: function() {
      return this.blueprint.dim
    },
    display: function() {
      return this.blueprint.display
    },
    svgBinds: function() {
      return {
        'background-color': 'white',
        cursor: 'default',
        width: `100%`,
        height: `${this.dim.h}px`,
        'max-width': `${this.dim.w}px`, // `${this.res}px`,
        'max-height': '400px'
      }
    }
  }
}
</script>
