<template>
  <v-expansion-panel
    class="ma-3"
    :style="{'z-index': 2, position: 'absolute', width: '300px !important'}"
    v-model="panel"
    expand
  >
    <v-expansion-panel-content>
      <div slot="header" class="headline">Map Information:</div>
      <v-divider></v-divider>
      <v-card width="300">
        <v-card-text>
          <v-layout wrap>
            <v-flex xs12>
              <ul class="pa-3 pl-4 text-xs-left">
                <li v-for="(text, i) in debug" :key="i">{{text}}</li>
              </ul>
            </v-flex>
          </v-layout>
        </v-card-text>
        <v-divider></v-divider>
        <v-layout wrap>
          <v-flex xs6 offset-xs1>
            <v-radio-group row v-model="view">
              <v-radio color="primary" v-for="(v, i) in views" :key="i" :label="`${v}`" :value="v"></v-radio>
            </v-radio-group>
          </v-flex>
          <v-flex xs4>
            <v-btn
              fab
              icon
              class="primary--text"
              @click.native="zoomTo(location)"
              v-show="location"
            >
              <v-icon>my_location</v-icon>
            </v-btn>
          </v-flex>
        </v-layout>
      </v-card>
    </v-expansion-panel-content>
  </v-expansion-panel>
</template>

<script>
import { mapState } from 'vuex'
import * as d3 from 'd3'
export default {
  name: 'MapInfo',
  props: {
    updateRegion: Function,
    updateView: Function,
    views: Array,
    parent: HTMLDivElement
  },
  data() {
    return {
      x: 0,
      y: 0,
      r: 0,
      t: 0,
      view: this.views[0],
      circle: {},
      zoom: () => {},
      debug: [],
      panel: [true]
    }
  },
  mounted() {
    // this.circle = d3.select('#svgMaps').select('#maps').select('#spheres')
    this.panZoom()
  },
  computed: {
    ...mapState(['loc', 'target']),
    location: function() {
      return window.world.locations[this.loc]
    },
    dim: function() {
      return window.world.dim
    }
  },
  methods: {
    mouseover() {
      const [x, y] = d3.mouse(this.parent.querySelector('#maps'))
      x < this.dim.w - 1 && (this.x = Math.round(x))
      y < this.dim.h - 1 && (this.y = Math.round(y))
      // this.circle.attr('cx', this.x)
      // this.circle.attr('cy', this.y)
      this.updateDebug()
    },
    panZoom() {
      this.zoom = d3
        .zoom()
        .scaleExtent([1, 50])
        .translateExtent([[0, 0], [this.dim.w, this.dim.h]])
        .on('zoom', this.zoomed)
      let init = d3.select('#svgMaps')
      this.zoom.scaleTo(init, 5)
      this.zoom.translateTo(init, this.dim.w * 0.25, this.dim.h * 0.25)
      init.on('touchmove mousemove', this.mouseover)
      init.call(this.zoom)
    },
    zoomed() {
      d3.select('#svgMaps')
        .select('#maps')
        .attr('transform', d3.event.transform)
    },
    zoomTo(loc) {
      const [x, y] = [loc.x, loc.y]
      const init = d3.select('svg')
      this.zoom.scaleTo(init, 20)
      this.zoom.translateTo(init, x, y)
    },
    updateDebug() {
      const cell = window.world.diagram.find(this.x, this.y).index
      const { longitude, latitude } = window.world.gps(this.x, this.y)
      const poly = window.world.polygons[cell]
      const region = window.world.regions[poly.region]
      const summer = latitude < 0 ? 0 : 6
      const winter = latitude < 0 ? 6 : 0
      const smin = window.world.temperature(latitude, winter, poly.h) // * 9 / 5 + 32
      const smax = window.world.temperature(latitude, summer, poly.h) // * 9 / 5 + 32
      const loc = window.world.locations[poly.territory]
      const conquered =
        region.conquered || region.vassals.length > 0
          ? ` (${region.agent.nation})`
          : ''
      this.debug = [
        `Location: ${latitude.toFixed(2)}°, ${longitude.toFixed(2)}°`,
        `Elevation: ${window.world.km(poly.h || 0).toFixed(3)} km`,
        `Average Temperature: ${(poly.heat || 0).toFixed(2)}°C`,
        `Summer High: ${smax.toFixed(2)}°C `,
        `Winter Low: ${smin.toFixed(2)}°C`,
        `Rain: ${(poly.rain || 0).toFixed(3)}`,
        `Biome: ${window.world.biomes[poly.biome].name}`,
        `Region: ${region.name}${conquered}`,
        `Territory: ${loc.name} #${poly.territory} (${loc.value.toFixed(2)})`,
        `${window.world.features.landmarks[poly.landmark]}(${poly.landmark})`,
        window.world.features.rivers[poly.river],
        window.world.features.mountains[poly.mountain]
      ].filter(i => i !== 'none')
      const transitioned = this.r !== poly.region || this.t !== poly.territory
      if (transitioned && !this.location) {
        this.updateRegion(poly.region, poly.territory)
      }
      this.r = poly.region
      this.t = poly.territory
    }
  },
  watch: {
    target: function(loc) {
      if (loc.name) {
        this.zoomTo(loc)
        this.$store.commit('setTarget', { x: 0, y: 0 })
      }
    },
    view: function(v) {
      this.updateView(v)
    }
  }
}
</script>
