<template>
  <v-card class="elevation-0 text-xs-center">
    <v-layout row align-center wrap>
      <v-flex xs12 :style="{'max-height': `${height}px`}">
        <MapInfo :updateRegion="updateRegion" :updateView="updateView" :views="views" :parent="$el"></MapInfo>
        <svg id="svgMaps" :style="svgBinds" ref="isamap" class="elevation-5">
          <defs>
            <filter id="blurFilter" x="-1" y="-1" width="100" height="100">
              <feGaussianBlur in="SourceGraphic" stdDeviation="1"></feGaussianBlur>
            </filter>
            <mask
              id="shape"
              x="0"
              y="0"
              :width="`${this.width}px`"
              :height="`${this.height}px`"
              fill="black"
              maskUnits="userSpaceOnUse"
            >
              <path
                v-for="(d, i) in display.islands.filter(p => !p.lakeIsle)"
                :key="i"
                :d="d.d"
                fill="white"
              ></path>
            </mask>
            <mask
              id="watermask"
              x="0"
              y="0"
              :width="`${this.width}px`"
              :height="`${this.height}px`"
              fill="white"
              maskUnits="userSpaceOnUse"
            >
              <rect
                id="bg"
                x="0"
                y="0"
                :width="`${this.width}px`"
                :height="`${this.height}px`"
                fill="white"
              ></rect>
              <path v-for="(d, i) in display.islands" :key="i" :d="d.d" fill="black"></path>
            </mask>
            <mask
              id="lakeMask"
              x="0"
              y="0"
              :width="`${this.width}px`"
              :height="`${this.height}px`"
              fill="Black"
              maskUnits="userSpaceOnUse"
            >
              <path
                v-for="(d, i) in display.islands.filter(p => p.lakeIsle)"
                :key="i"
                :d="d.d"
                fill="white"
              ></path>
            </mask>
            <clipPath v-for="(d, i) in display.regions" :key="`${i}_${d.r}`" :id="`${i}_${d.r}`">
              <path :d="d.d"></path>
            </clipPath>
            <clipPath v-for="(d, i) in display.lakes" :key="`${i}_l`" :id="`${i}_l`">
              <path :d="d.d"></path>
            </clipPath>
            <clipPath id="bounds">
              <rect
                id="bg"
                x="0"
                y="0"
                :width="`${this.width / 2}px`"
                :height="`${this.height / 2}px`"
              ></rect>
            </clipPath>
          </defs>
          <g id="maps">
            <g mask="url(#shape)">
              <g v-if="!biomeStyle">
                <!-- fill in spots not covered by the broad strokes -->
                <path
                  v-for="(d, i) in display.shape.filter(p => p.border && p.land && !p.lakeIsle)"
                  :key="`${i}_b`"
                  :d="d.d"
                  :fill="d.borders"
                  :stroke="d.borders"
                  class="regions-borders"
                ></path>
                <!-- base land coloration -->
                <path
                  v-for="(d, i) in display.regions"
                  :key="`${i}_rf`"
                  :d="d.d"
                  fill="#f2efe8"
                  :clip-path="`url(#${i}_${d.r})`"
                ></path>
                <!--regional borders -->
                <path
                  v-for="(d, i) in display.regions"
                  :key="`${i}_r`"
                  :d="d.d"
                  class="regions"
                  :stroke="d.color"
                  :clip-path="`url(#${i}_${d.r})`"
                ></path>
              </g>
              <g v-if="biomeStyle" filter="url(#blurFilter)">
                <path
                  v-for="(d, i) in display.shape.filter(p => !p.lakeIsle && p.land)"
                  :key="i"
                  :d="d.d"
                  :fill="d.biomes"
                  :stroke-width="0.7"
                  stroke-linejoin="round"
                ></path>
              </g>
            </g>
            <g
              :class="{'rivers-biomes': biomeStyle, 'rivers-regions': !biomeStyle}"
              v-show="showRivers"
              mask="url(#shape)"
            >
              <path v-for="(d, i) in display.rivers" :key="i" :d="d.d" :stroke-width="d.river"></path>
            </g>
            <g :class="{'lakes-biomes': biomeStyle, 'lakes-regions': !biomeStyle}">
              <path v-for="(d, i) in display.lakes" :key="i" :d="d.d" :clip-path="`url(#${i}_l)`"></path>
              <path
                v-for="(d, i) in display.islands.filter(i => i.lakeIsle)"
                :key="`${i}_lake`"
                :d="d.d"
              ></path>
              <path
                v-for="(d, i) in display.lakes.concat(display.islands.filter(i => i.lakeIsle))"
                :key="`${i}_2`"
                :d="d.d"
                class="ocean-layer2"
                :clip-path="`url(#${i}_l)`"
              ></path>
              <path
                v-for="(d, i) in display.lakes.concat(display.islands.filter(i => i.lakeIsle))"
                :key="`${i}_3`"
                :d="d.d"
                class="ocean-layer3"
                :clip-path="`url(#${i}_l)`"
              ></path>
              <path
                v-for="(d, i) in display.lakes.concat(display.islands.filter(i => i.lakeIsle))"
                :key="`${i}_4`"
                :d="d.d"
                class="ocean-layer4"
                :clip-path="`url(#${i}_l)`"
              ></path>
            </g>
            <g mask="url(#lakeMask)">
              <g v-if="!biomeStyle">
                <path
                  v-for="(d, i) in display.regions"
                  :key="`${i}_rf`"
                  :d="d.d"
                  fill="#f2efe8"
                  :clip-path="`url(#${i}_${d.r})`"
                ></path>
                <path
                  v-for="(d, i) in display.regions"
                  :key="`${i}_rl`"
                  :d="d.d"
                  class="regions"
                  :stroke="d.color"
                  :clip-path="`url(#${i}_${d.r})`"
                ></path>
              </g>
              <g v-if="biomeStyle" filter="url(#blurFilter)">
                <path
                  v-for="(d, i) in display.shape.filter(p => p.lakeIsle)"
                  :key="i"
                  :d="d.d"
                  :fill="d[view.toLowerCase()]"
                  :stroke-width="0.7"
                  :stroke="d[view.toLowerCase()]"
                  stroke-linejoin="round"
                ></path>
              </g>
            </g>
            <g
              mask="url(#watermask)"
              :class="{'ocean-decorations-biomes': biomeStyle, 'ocean-decorations-regions': !biomeStyle}"
            >
              <path
                v-for="(d, i) in display.islands.filter(i => !i.lakeIsle)"
                :key="`${i}_1`"
                :d="d.d"
                class="ocean-layer1"
              ></path>
              <path
                v-for="(d, i) in display.islands.filter(i => !i.lakeIsle)"
                :key="`${i}_2`"
                :d="d.d"
                class="ocean-layer2"
              ></path>
              <path
                v-for="(d, i) in display.islands.filter(i => !i.lakeIsle)"
                :key="`${i}_3`"
                :d="d.d"
                class="ocean-layer3"
              ></path>
              <path
                v-for="(d, i) in display.islands.filter(i => !i.lakeIsle)"
                :key="`${i}_4`"
                :d="d.d"
                class="ocean-layer4"
              ></path>
            </g>
            <g class="major-roads" v-show="showRoads">
              <path v-for="(d, i) in display.routes.main" :key="i" :d="d.d"></path>
            </g>
            <g class="minor-roads" v-show="showRoads">
              <path v-for="(d, i) in display.routes.small" :key="i" :d="d.d"></path>
            </g>
            <g
              :class="{'seaRoutes-biomes': biomeStyle, 'seaRoutes-regions': !biomeStyle}"
              v-show="showRoads"
            >
              <path v-for="(d, i) in display.routes.sea" :key="i" :d="d.d"></path>
            </g>
            <g>
              <image
                v-for="(d, i) in this.icons.mountains"
                :key="i"
                :x="d.site[0] - icons[d.icon].w / 2"
                :y="d.site[1] - icons[d.icon].h / 2"
                :href="icons[d.icon].d"
                :height="icons[d.icon].h * iconScale.h"
                :width="icons[d.icon].w * iconScale.w"
              ></image>
            </g>
            <g class="icons" v-show="showIcons">
              <image
                v-for="(d, i) in this.icons.locs"
                :key="i"
                :x="d.site[0] - icons[d.icon].w / 2"
                :y="d.site[1] - icons[d.icon].h / 2"
                :href="icons[d.icon].d"
                :height="icons[d.icon].h * iconScale.h"
                :width="icons[d.icon].w * iconScale.w"
              ></image>
            </g>
            <g class="cities">
              <g>
                <g v-for="(c, i) in towns" :key="i" v-show="showCities">
                  <circle
                    :cx="c.x"
                    :cy="c.y"
                    :r="radius(c)"
                    class="city"
                    @click="spawnSettlement(c)"
                  ></circle>
                  <text
                    :x="c.x"
                    :y="c.y"
                    :dy="-2 * radius(c)"
                    :font-size="2*fontSize"
                    @click="spawnSettlement(c)"
                  >{{c.name}}</text>
                </g>
              </g>
              <g>
                <g v-for="(c, i) in cities" :key="i" v-show="showCities">
                  <circle
                    :cx="c.x"
                    :cy="c.y"
                    :r="radius(c)"
                    class="city"
                    @click="spawnSettlement(c)"
                  ></circle>
                  <text
                    :x="c.x"
                    :y="c.y"
                    :dy="-2 * radius(c)"
                    :font-size="4*fontSize"
                    @click="spawnSettlement(c)"
                  >{{c.name}}</text>
                  <text
                    :x="c.x"
                    :y="c.y"
                    :dy="6*fontSize"
                    v-show="regionNames && c.capital && !c.free"
                    :font-size="8*fontSize"
                    :opacity="0.5"
                  >{{c.region.name}}</text>
                </g>
              </g>
              <g>
                <g v-for="(c, i) in capitals" :key="i">
                  <circle
                    :cx="c.x"
                    :cy="c.y"
                    :r="radius(c)"
                    :stroke-width="radius(c)"
                    class="capital"
                    v-show="showCities"
                    @click="spawnSettlement(c)"
                  ></circle>
                  <text
                    :x="c.x"
                    :y="c.y"
                    :dy="-2 * radius(c)"
                    v-show="showCities"
                    :font-size="6*fontSize"
                    @click="spawnSettlement(c)"
                  >{{c.name}}</text>
                  <text
                    :x="c.x"
                    :y="c.y"
                    :dy="8*fontSize"
                    v-show="regionNames"
                    :font-size="10*fontSize"
                    :opacity="c.region.nation ? 0.5 : 1"
                  >{{c.region.name}}</text>
                  <text
                    v-if="c.region.nation"
                    :x="c.x"
                    :y="c.y"
                    :dy="18*fontSize"
                    v-show="regionNames"
                    :font-size="14*fontSize"
                  >{{c.region.nation}}</text>
                </g>
              </g>
            </g>
            <!-- <circle id="spheres" cx="50" cy="50" :r="hover_radius" fill="red" opacity="0.25"/> -->
          </g>
        </svg>
      </v-flex>
    </v-layout>
    <Settlement :dialog="dialog" :settlement="settlement" :close="close" v-if="settlement.name"></Settlement>
  </v-card>
</template>

<script>
import Settlement from '@/components/modals/custom/Settlement'
import MapInfo from '@/components/maps/MapInfo'
import { icons } from '@/model/utilities/constants'
import { mapValue } from '@/model/utilities/common'
export default {
  name: 'Maps',
  props: {
    updateRegion: Function
  },
  components: {
    Settlement,
    MapInfo
  },
  data() {
    return {
      showCities: true,
      showRoads: true,
      showRivers: true,
      showRegions: false,
      loadingMap: false,
      loadingCity: false,
      cities: [],
      capitals: [],
      towns: [],
      views: ['Regions', 'Biomes'], // , 'Elevation'],
      view: 'Regions',
      dialog: false,
      settlement: {},
      display: {
        shape: [],
        islands: [],
        lakes: [],
        rivers: [],
        routes: {
          main: [],
          small: [],
          sea: []
        }
      },
      icons: icons,
      q: 'all'
    }
  },
  mounted() {
    this.display = this.translate(this.q)
  },
  methods: {
    close() {
      this.dialog = false
    },
    spawnSettlement(settlement) {
      // settlement.spawn()
      this.settlement = settlement
      this.dialog = true
    },
    regionSelected(r) {
      return this.debug.r === r
    },
    radius(city) {
      const rel = this.fontSize
      return mapValue([500, 70000], [rel * 0.15, rel * 2], city.urban)
    },
    font(city) {
      const rel = this.fontSize
      return mapValue([500, 70000], [rel * 0.5, rel * 1.2], city.urban)
    },
    updateView(view) {
      this.view = view
    },
    translate(i = 'all') {
      const polygons = window.world.polygons
      const cities = window.world.locations.filter(
        city => i === 'all' || polygons[city.site].q === i
      )
      this.capitals = cities.filter(
        city => city.type === 'Capital' && !city.region.conquered
      )
      this.towns = cities.filter(city => city.type === 'Town')
      this.cities = cities.filter(city => city.type === 'City')
      const icons = window.world.land
        .filter(m => m.icon > -1 && (i === 'all' || m.q === i))
        .sort((a, b) => {
          if (a.site[1] === b.site[1]) {
            return a.site[0] - b.site[0]
          }
          return a.site[1] - b.site[1]
        })
      this.icons.locs = icons.filter(m => m.mountain <= -1)
      this.icons.mountains = icons.filter(m => m.mountain > -1)
      const display = window.world.display
      return {
        shape: display.shape.filter(p => i === 'all' || polygons[p.idx].q === i),
        rivers: display.rivers.filter(p => p.q[i]),
        lakes: display.lakes.filter(p => p.q[i]),
        islands: display.islands.filter(p => p.q[i]),
        regions: display.regions.filter(p => p.q[i]),
        routes: {
          main: display.routes.main.filter(p => p.q[i]),
          small: display.routes.small.filter(p => p.q[i]),
          sea: display.routes.sea.filter(p => p.q[i])
        }
      }
    }
  },
  computed: {
    regionNames: function() {
      return this.view === 'Regions'
    },
    biomeStyle: function() {
      return this.view !== 'Regions'
    },
    showIcons: function() {
      return true
    },
    dim: function() {
      return window.world.dim
    },
    height: function() {
      return this.dim.h
    },
    width: function() {
      return this.dim.w
    },
    spacing: function() {
      return window.world.spacing
    },
    hover_radius: function() {
      return this.dim.h * this.spacing.small
    },
    fontSize: function() {
      return this.dim.h / 950
    },
    iconScale: function() {
      return { h: this.dim.h / 500, w: this.dim.w / 500 }
    },
    blur: function() {
      return this.view !== 'Regions' ? 'url(#blurFilter)' : 'none'
    },
    svgBinds: function() {
      return {
        'background-color': this.view === 'Regions' ? '#e6edef' : '#5fbedd',
        cursor: 'default',
        width: `100%`,
        height: `${this.height}px`,
        'z-index': 1,
        position: 'relative'
      }
    }
  }
}
</script>

<style scoped>
.capital {
  fill: white;
  stroke: black;
  opacity: 0.8;
}
.city {
  stroke: none;
  fill: black;
  opacity: 0.8;
}
.cities {
  font-family: 'Tangerine', 'Josefin Sans';
  font-weight: 550;
  opacity: 1;
  fill: #3e3e4b;
  text-shadow: 0 0 12px white;
  font-size: 3px;
  text-anchor: middle;
  cursor: pointer;
}
.ocean-decorations-regions {
  fill: none;
  stroke: grey;
  stroke-linejoin: round;
  stroke-linecap: round;
}
.ocean-decorations-biomes {
  fill: none;
  stroke: white;
  stroke-linejoin: round;
  stroke-linecap: round;
}
.ocean-layer1 {
  stroke-width: 1px;
  opacity: 0.5;
}
.ocean-layer2 {
  stroke-width: 2.5px;
  opacity: 0.25;
}
.ocean-layer3 {
  stroke-width: 5px;
  opacity: 0.2;
}
.ocean-layer4 {
  stroke-width: 8px;
  opacity: 0.1;
}
.major-roads {
  fill: none;
  stroke: #840000;
  stroke-width: 0.3;
  opacity: 0.9;
  stroke-dasharray: 1 0.4;
}
.minor-roads {
  fill: none;
  stroke: #840000;
  stroke-width: 0.15;
  opacity: 0.25;
  stroke-dasharray: 1 0.3;
}
.seaRoutes-biomes {
  fill: none;
  stroke: rgb(255, 255, 255);
  stroke-width: 0.2;
  opacity: 0.5;
  stroke-dasharray: 1 0.5;
}
.seaRoutes-regions {
  fill: none;
  stroke: grey;
  stroke-width: 0.2;
  opacity: 0.5;
  stroke-dasharray: 1 0.5;
}
.regions {
  stroke-width: 2;
  filter: url(#blurFilter);
  fill: none;
  opacity: 0.75;
}
.regions-borders {
  stroke-width: 0;
  opacity: 0.5;
}
.lakes-biomes {
  fill: hsl(209, 46%, 55%);
  stroke: rgb(50, 94, 130);
  stroke-linejoin: round;
  stroke-linecap: round;
}
.lakes-regions {
  fill: #cedadd;
  stroke: #748a91;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.lakeIsle-regions {
  stroke-width: 0.6px;
  stroke: #748a91;
  fill: none;
  stroke-linejoin: round;
  stroke-linecap: round;
}
.lakeIsle-biomes {
  stroke-width: 0.6px;
  stroke: rgb(50, 94, 130);
  fill: none;
  stroke-linejoin: round;
  stroke-linecap: round;
}
.rivers-biomes {
  fill: none;
  stroke: #4d83ae;
  stroke-linecap: round;
}
.rivers-regions {
  fill: none;
  stroke: #cacdce;
  stroke-linecap: round;
}
.icons {
  opacity: 0.4;
}
</style>
