<template>
    <v-layout>
        <pie-chart :chart-data="cultures" :options="{onClick: spawn}"></pie-chart>
        <culture :dialog="dialog" :close="close" :culture="culture"></culture>
    </v-layout>
</template>

<script>
import PieChart from '@/components/charts/pieChart.js'
import Culture from '@/components/modals/custom/Culture'
export default {
  name: 'CultureChart',
  components: {
    'pie-chart': PieChart,
    culture: Culture
  },
  props: {
      cultures: Object
  },
  data() {
    return {
      culture: undefined,
      dialog: false
    }
  },
  computed: {
    world: function() {
      return window.world
    }
  },
  methods: {
    spawn(e, a) {
      if (a.length > 0) {
        let culture = a[0]._model.label
        const cultures = this.world.cultures.map(c => c.name)
        const idx = cultures.indexOf(culture)
        const prospect = this.world.cultures[idx]
        if (prospect) {
          this.culture = prospect.details
          this.dialog = true
        }
      }
    },
    close() {
      this.dialog = false
    }
  }
}
</script>
