<template>
  <v-card class="elevation-0 mapinfo">
    <v-card-text>
      <v-layout row wrap align-center justify-center>
        <v-flex xs12>
          <v-layout row align-center justify-center>
            <v-flex id="svgAncestry" xs8 class="mx-2">
              <svg :style="svgBinds">
                <g id="tree">
                  <g id="title">
                    <text :x="width/2.2" :y="25" :font-size="25" text-anchor="middle">
                      {{house}} {{chosen}}
                    </text>
                  </g>
                  <g v-if="chosen" :transform="structure.start">
                    <g :style="linkStyle">
                      <path v-for="(d, i) in structure.links" :key="i" :d="d"></path>
                    </g>
                    <g :style="nodeStyle" v-for="(d, i) in structure.nodes" :key="i">
                      <circle :transform="d.loc" r="1.5" @click="spawn(d)"></circle>
                    </g>
                    <g v-for="(d, i) in structure.nodes" :key="`t${i}`">
                      <text :transform="d.loc" :font-size="2" :dy="structure.d.y" :dx="structure.d.x" class="ntext" :text-anchor="structure.d.anchor">
                        {{d.name}}
                      </text>
                      <text :transform="d.loc" :font-size="2" :dy="structure.s.y" :dx="structure.s.x" class="ntext" :text-anchor="structure.s.anchor" v-if="d.spouse">
                        {{d.spouse}}
                      </text>
                    </g>
                  </g>
                </g>
              </svg>
            </v-flex>
            <v-flex xs4>
              <v-autocomplete :items="ancestry" v-model="chosen" label="Lineage:"></v-autocomplete>
              <v-switch color="primary" :label="structure.name" v-model="disc"></v-switch>
            </v-flex>
          </v-layout>
        </v-flex>
      </v-layout>
    </v-card-text>
    <npc :dialog="dialog" :close="() => dialog=false" :npc="npc"></npc>
  </v-card>
</template>

<script>
import * as d3 from 'd3'
import NPC from '@/components/modals/custom/NPC'
export default {
  name: 'Ancestry',
  data() {
    return {
      // surrnames present in the ancestry object sorted by node count
      ancestry: [],
      // house / clan
      house: 'House',
      // hooks into the npc generator in order to react to changes
      npcgen: window.world.npcgen,
      // chosen surrname lineage to display
      chosen: '',
      // height of svg display
      height: 400,
      // width of svg display
      width: 400,
      // show radial or tree
      disc: false,
      // radial styles
      radial: {
        name: 'Radial',
        d: { x: 0, y: 4, anchor: 'middle' },
        s: { x: 0, y: -3, anchor: 'middle' },
        nodes: [],
        links: []
      },
      // tree styles
      tree: {
        name: 'Tree',
        d: { x: 3, y: 0.5, anchor: 'start' },
        s: { x: -3, y: 0.5, anchor: 'end' },
        nodes: [],
        links: []
      },
      // svg zoom object
      zoom: {},
      npc: undefined,
      dialog: false
    }
  },
  components: {
    npc: NPC
  },
  mounted() {
    // compute start translations
    this.radial.start = `translate(${this.width * 0.45}, ${this.height * 0.55})`
    this.tree.start = `translate(${this.width * 0.05}, ${this.height * 0.1})`
    // update the ancestry to get the latest lineage trees
    this.updateAncestry()
    // setup pan & zoom
    this.panZoom()
  },
  methods: {
    updateAncestry() {
      const registry = this.npcgen.ancestry
      // resorts the ancestry list by node length
      this.ancestry = Object.keys(registry).filter(k => k !== '_idx').sort(
        (a, b) => registry[b].nodes.length - registry[a].nodes.length
      )
    },
    panZoom(d) {
      // creates the zoom object
      this.zoom = d3
        .zoom()
        .scaleExtent([1, 30])
        .translateExtent([[0, 0], [this.width, this.height]])
        .on('zoom', this.zoomed)
      // find the svg element
      let init = d3.select('#svgAncestry')
      // set the initial scale
      this.zoom.scaleTo(init, 1)
      // setup the event listeners on the svg element
      init.call(this.zoom)
    },
    zoomed() {
      d3
        .select('#svgAncestry')
        .select('#tree')
        .attr('transform', d3.event.transform)
    },
    buildTree() {
      // get all the nodes for the chosen surrname's lineage
      const nodes = this.npcgen.ancestry[this.chosen].nodes.concat({
        idx: 'Root',
        p: null
      })
      this.house = this.npcgen.ancestry[this.chosen].culture.titles.house
      // convert to d3 tree data structure using d3.stratify
      let root = d3
        .stratify()
        .id(function(d) {
          return d.idx
        })
        .parentId(function(d) {
          return d.p
        })(nodes)
      // create regular tree
      const tree = d3.tree().size([this.height * 0.9, this.width * 0.7])(root)
      this.tree.nodes = tree.descendants().map((n, i) => {
        return {
          loc: `translate(${[n.y, n.x]})`,
          name: this.name(n),
          spouse: n.data.spouse ? `${n.data.spouse.name} (${n.data.spouse.age})` : false,
          idx: n.data.idx
        }
      })
      this.tree.links = tree.links().map(n => this.linkHorizontal(n))
      // create radial tree
      const radial = d3
        .cluster()
        .size([2 * Math.PI, Math.min(this.width * 0.8, this.height * 0.8) / 2])(root)
      this.radial.nodes = radial.descendants().map((n, i) => {
        return {
          loc: `translate(${d3.pointRadial(n.x, n.y)})`,
          name: this.name(n),
          spouse: n.data.spouse ? `${n.data.spouse.name} (${n.data.spouse.age})` : false,
          idx: n.data.idx
        }
      })
      this.radial.links = radial.links().map(n => this.linkRadial(n))
    },
    name(n) {
      if (n.id === 'Root') {
        return n.id
      } else {
        return `${n.data.name} (${n.data.age})`
      }
    },
    spawn(d) {
      this.npc = this.npcgen[d.idx]
      this.dialog = true
    }
  },
  computed: {
    linkRadial: function() {
      return d3
        .linkRadial()
        .angle(function(d) {
          return d.x
        })
        .radius(function(d) {
          return d.y
        })
    },
    linkHorizontal: function() {
      return d3
        .linkHorizontal()
        .x(function(d) {
          return d.y
        })
        .y(function(d) {
          return d.x
        })
    },
    structure: function() {
      return this.disc ? this.radial : this.tree
    },
    idx: function() {
      return this.npcgen.ancestry._idx
    },
    linkStyle: function() {
      return {
        fill: 'none',
        stroke: this.npcgen.ancestry[this.chosen].colors[0],
        'stroke-width': '1px'
      }
    },
    nodeStyle: function() {
      return {
        fill: '#fff',
        stroke: this.npcgen.ancestry[this.chosen].colors[1],
        'stroke-width': '1px',
        cursor: 'pointer'
      }
    },
    svgBinds: function() {
      return {
        'background-color': 'white',
        cursor: 'default',
        width: `100%`,
        height: `${this.height}px`
      }
    }
  },
  watch: {
    chosen: function() {
      this.buildTree()
    },
    idx: function() {
      this.updateAncestry()
    },
    disc: function() {
      this.chosen && this.buildTree()
    }
  }
}
</script>

<style scoped>
.node {
  stroke: #673ab7;
  stroke-width: 1px;
  fill: #fff;
}

.ntext {
  text-shadow: 0 1px 0 #fff, 0 -1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff;
}

.link {
  fill: none;
  stroke: #bcffe0;
  stroke-width: 1px;
}
</style>
