<template>
  <v-layout row wrap class="ma-2">
    <v-flex xs3>
      <slot name="select-1"></slot>
    </v-flex>
    <v-flex xs4 offset-xs1>
      <slot name="select-2"></slot>
    </v-flex>
    <v-spacer></v-spacer>
    <v-flex xs3 offset-xs1>
      <v-text-field append-icon="search" label="Search" v-model="search"></v-text-field>
    </v-flex>
    <v-flex xs12>
      <v-data-table :headers="headers" :items="npcs" :search="search" :pagination.sync="pagination" slot="dialog-content">
        <template slot="items" slot-scope="props">
          <tr>
            <td class="text-xs-left clickable">
              <span @click="spawn(props.item, 'npc')">{{ props.item.first }}</span>
            </td>
            <td class="text-xs-left clickable">
              <span @click="spawn(props.item, 'npc')">{{ props.item.last }}</span>
            </td>
            <td class="text-xs-left clickable">
              <span @click="spawn(props.item.race.details, 'culture')">{{ props.item.race.name }}</span>
            </td>
            <td class="text-xs-left">
              <span>{{ props.item.profession }}</span>
            </td>
          </tr>
        </template>
      </v-data-table>
    </v-flex>
    <culture :dialog="dialog.culture" :close="close('culture')" :culture="culture"></culture>
    <npc :dialog="dialog.npc" :close="close('npc')" :npc="npc"></npc>
  </v-layout>
</template>

<script>
import Culture from '@/components/modals/custom/Culture'
import NPC from '@/components/modals/custom/NPC'
import { mapState } from 'vuex'
export default {
  props: {
    entities: {
      type: Array,
      required: true
    }
  },
  name: 'NPCTable',
  data() {
    return {
      // npc table headers
      headers: [
        {
          text: 'First Name',
          align: 'left',
          value: 'first'
        },
        {
          text: 'Last Name',
          align: 'left',
          value: 'last'
        },
        {
          text: 'Culture',
          align: 'left',
          value: 'race'
        },
        {
          text: 'Profession',
          align: 'left',
          value: 'profession'
        }
      ],
      // table search filter
      search: '',
      // table pagination controls
      pagination: {
        rowsPerPage: 5
      },
      // currently selected culture (used by culture modal)
      culture: undefined,
      // currently selected npc (used by npc modal)
      npc: undefined,
      // enables / disables culture & npc modals
      dialog: {
        culture: false,
        npc: false
      }
    }
  },
  components: {
    culture: Culture,
    npc: NPC
  },
  computed: {
    ...mapState(['loc']),
    npcs: function() {
      return this.entities.map(n => window.world.npcgen[n])
    }
  },
  methods: {
    spawn(item, modal) {
      this[modal] = item
      this.dialog[modal] = true
    },
    close(modal) {
      return () => {
        this.dialog[modal] = false
      }
    }
  }
}
</script>
