<template>
    <v-layout row wrap>
        <v-flex xs6 v-if="items.length > 0">
            <v-card v-for="(item, i) in items" :key="i" class="elevation-1 clickable mb-1" :dark="item===selected" :color="item===selected ? 'primary' : ''">
                <v-card-text @click="select(item)" class="capitalize">
                    <span v-if="item.slot">[{{item.slot}}]</span> {{item.name}}
                </v-card-text>
            </v-card>
        </v-flex>
        <v-flex xs6 v-if="items.length > 0">
            <v-card v-if="selected.name" class="elevation-1 ml-1">
                <v-card-title>
                    {{selected.name}}
                    <v-spacer></v-spacer>
                    <span v-if="selected.tier">Level: {{(selected.tier * 10).toFixed(2)}}</span>
                </v-card-title>
                <v-card-text>
                    <ul class="ml-2">
                        <li v-for="(desc, i) in selected.description" :key="i">{{desc}}</li>
                    </ul>
                </v-card-text>
                <v-card-actions>
                    <v-btn small round outline @click="equip" v-if="selected.slot && !equipment">Equip</v-btn>
                    <v-btn small round outline @click="unequip" v-if="equipment">Unequip</v-btn>
                    <v-spacer></v-spacer>
                    <span class="mr-2">Value: {{selected.value.toFixed(2)}}</span>
                </v-card-actions>
            </v-card>
        </v-flex>
        <v-flex xs6 v-if="items.length < 1">
            Empty
        </v-flex>
    </v-layout>
</template>

<script>
export default {
  name: 'ItemList',
  props: {
    items: {
      type: Array,
      required: true
    },
    npc: {
      type: Object,
      required: true
    },
    equipment: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      selected: {}
    }
  },
  mounted() {
    this.refresh()
  },
  methods: {
    select(item) {
      this.selected = item
    },
    refresh() {
      const valid = this.items.filter(item => item !== this.selected)
      valid.length > 0 && (this.selected = this.items[0])
    },
    equip() {
      this.npc.inventory.equip(this.selected)
      this.refresh()
    },
    unequip() {
      this.npc.inventory.unequip(this.selected)
      this.refresh()
    }
  },
  watch: {
    items: function() {
      this.refresh()
    }
  }
}
</script>

