<template>
    <v-card flat>
        <v-card-text>
            <v-layout wrap justify-center>
                <v-flex v-for="group in Object.keys(inventory)" :key="group" xs3 class="mx-1">
                    <v-btn class="my-1" small block :dark="group===selected" @click="selected=group" :color="group===selected ? 'primary' : ''">{{group}}</v-btn>
                </v-flex>
            </v-layout>
            <!-- <div v-if="equipment" class="capitalize mt-2 ml-2">{{selected}} item level: {{(npc.groupItemLevel(selected)*10).toFixed(2)}}</div> -->
            <item-list class="my-3" :items="items" :npc="npc" :equipment="equipment"></item-list>
        </v-card-text>
    </v-card>
</template>

<script>
import ItemList from './ItemList'
export default {
  name: 'Items',
  props: {
    npc: {
      type: Object,
      required: true
    },
    inventory: {
      type: Object,
      required: true
    },
    equipment: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      selected: 'armor'
    }
  },
  components: {
    'item-list': ItemList
  },
  computed: {
      items: function() {
          return Object.values(this.inventory[this.selected]).filter(item => item.name)
      }
  }
}
</script>

