<template>
  <v-tabs dark color="primary" class="my-3">
    <v-tab v-for="hero in heroes.npcs" :key="hero.name" :href="`#${hero.name}`" ripple>
      {{hero.name + (hero === avatar ? ' (Avatar)' : '')}}
    </v-tab>
    <v-tab-item v-for="hero in heroes.npcs" :key="hero.name" :id="hero.name">
      <v-layout wrap>
        <v-flex xs5>
          <attributes :npc="hero"></attributes>
        </v-flex>
        <v-flex xs6 class="mb-1">
          <inventory :npc="hero"></inventory>
        </v-flex>
      </v-layout>
    </v-tab-item>
  </v-tabs>
</template>

<script>
import Attributes from '@/components/character/Attributes'
import Inventory from '@/components/character/Inventory'
import { mapState } from 'vuex'
export default {
  name: 'Character',
  components: {
    attributes: Attributes,
    inventory: Inventory
  },
  computed: {
    ...mapState(['heroes', 'avatar'])
  }
}
</script>
