<template>
    <Maps :updateRegion="updateRegion"></Maps>
</template>

<script>
import Maps from '@/components/maps/Maps'
export default {
  name: 'Demo',
  props: {
    updateRegion: Function
  },
  data() {
    return {
      world: window.world
    }
  },
  components: {
    Maps
  }
}
</script>
