<template>
    <v-tabs dark color="primary" class="elevation-1" grow centered v-model="active">
        <v-tab key="Maps" ripple>
            Map
        </v-tab>
        <v-tab key="World" ripple>
            World
        </v-tab>
        <v-tab key="NPCs" ripple>
            NPCs
        </v-tab>
        <v-tab key="Lineage" ripple>
            Lineage
        </v-tab>
        <v-tab-item key="Maps">
            <Maps :updateRegion="updateRegion"></Maps>
        </v-tab-item>
        <v-tab-item key="World">
            <World :cell="world"></World>
        </v-tab-item>
        <v-tab-item key="NPCs">
            <Registry></Registry>
        </v-tab-item>
        <v-tab-item key="Lineage">
            <Ancestry></Ancestry>
        </v-tab-item>
    </v-tabs>
</template>

<script>
import Maps from '@/components/maps/Maps'
import Registry from '@/components/cells/data/Registry'
import Ancestry from '@/components/npc/Ancestry'
import World from '@/components/cells/World'
export default {
  name: 'GlobalStats',
  props: {
    updateRegion: Function
  },
  data() {
    return {
      // sets the default tab to maps
      active: 'Maps',
      world: window.world
    }
  },
  components: {
    Maps,
    Registry,
    Ancestry,
    World
  }
}
</script>
