<template>
  <v-layout row wrap justify-center align-center class="text-xs-center">
    <v-flex xs2 class="mt-5">
      <v-text-field v-model="seed" label="seed:"></v-text-field>
    </v-flex>
    <v-flex xs12></v-flex>
    <v-flex v-show="!loading" xs2>
      <v-btn large block color="secondary" @click="shape()">Generate World</v-btn>
    </v-flex>
    <v-flex class="mt-3" xs12></v-flex>
    <v-flex xs12></v-flex>
    <v-flex v-show="!loading" xs2>
      <v-slider label="Cells:" v-model="res" :tick-labels="cells" :min="1" :max="3" step="1"></v-slider>
    </v-flex>
    <v-flex v-show="loading" xs1 class="mt-5">
      <v-progress-circular indeterminate :size="100" :width="5" color="primary">{{progress}}%</v-progress-circular>
    </v-flex>
    <v-flex xs12></v-flex>
    <v-flex v-show="loading" xs4>{{state}}</v-flex>
    <v-flex xs12>
      <!-- <CityMaps /> -->
    </v-flex>
  </v-layout>
</template>

<script>
import World from '@/model/places/cells/vor'
import ContinentShaper from '@/model/places/shapers/continents'
import WeatherShaper from '@/model/places/shapers/weather'
import RegionalShaper from '@/model/places/shapers/regions'
import CulturalShaper from '@/model/places/shapers/cultures'
import InfrastructureShaper from '@/model/places/shapers/infrastructure'
import DisplayShaper from '@/model/places/shapers/display'
import LoreShaper from '@/model/places/shapers/lore'
import CityMaps from '@/components/maps/CityMaps'
import { generateId } from '@/model/utilities/random'

export default {
  name: 'Landing',
  data() {
    return {
      // state that enables the loading spinner
      loading: false,
      // progress % of the generation process
      progress: 0,
      // catchup delay (to update the % progress text)
      catchup: 1,
      // state name of the generation process
      state: 'Generation takes 3-4 seconds.',
      // cell resolution
      cells: ['1x', '2x', '3x'],
      res: 1,
      // land type
      type: 'Continental',
      // the hand of fate
      seed: generateId()
    }
  },
  components: { CityMaps },
  methods: {
    shape() {
      // initate generation
      this.loading = true
      console.time('World Generation')
      this.progress += 10
      this.state = 'Shaping the continents...'
      setTimeout(
        () => this.continents(new World(this.seed.toLowerCase(), this.res)),
        this.catchup + 10
      )
    },
    continents(world) {
      new ContinentShaper(world, this.type, this.climate).build()
      this.progress += 10
      this.state = '...Partitioning regions'
      setTimeout(() => this.regions(world), this.catchup)
    },
    regions(world) {
      new RegionalShaper(world).build()
      this.progress += 10
      this.state = 'Generating weather...'
      setTimeout(() => this.weather(world), this.catchup)
    },
    weather(world) {
      new WeatherShaper(world).build()
      this.progress += 5
      this.state = '...Building infrastructure'
      setTimeout(() => this.infrastructure(world), this.catchup)
    },
    infrastructure(world) {
      new InfrastructureShaper(world).build()
      this.progress += 20
      this.state = 'Creating cultures...'
      setTimeout(() => this.culture(world), this.catchup)
    },
    culture(world) {
      new CulturalShaper(world).build()
      this.progress += 20
      this.state = '...Lorecrafting'
      setTimeout(() => this.lore(world), this.catchup)
    },
    lore(world) {
      new LoreShaper(world).build()
      this.progress += 5
      this.state = '...Pre-computing display properties'
      setTimeout(() => this.display(world), this.catchup)
    },
    display(world) {
      new DisplayShaper(world).build()
      this.progress += 20
      this.state = 'Finalizing world...'
      setTimeout(() => this.finalize(world), this.catchup)
    },
    finalize(world) {
      window.world = world
      this.$store.commit('shaper', window.world.id)
      // reset states after generation is complete
      this.loading = false
      this.progress = 0
      this.state = 'Generation takes 3-4 seconds.'
      console.timeEnd('World Generation')
    }
  }
}
</script>
