<template>
  <v-tabs dark color="primary" class="elevation-1" grow centered v-if="currRegion >= 0" v-model="active">
    <v-tab key="Journal" ripple>
      Journal
    </v-tab>
    <v-tab key="Location" ripple>
      {{`${location.name} (${!location.region.conquered || location.type !== 'Capital' ? location.type : 'City'})`}}
    </v-tab>
    <v-tab key="Region" ripple>
      Region: {{region.name}}
    </v-tab>
    <v-tab-item key="Journal">
      <journal v-if="avatar.location"></journal>
      <char-gen v-if="!avatar.location"></char-gen>
    </v-tab-item>
    <v-tab-item key="Location">
      <location :cell="location"></location>
    </v-tab-item>
    <v-tab-item key="Region">
      <region :cell="region"></region>
    </v-tab-item>
  </v-tabs>
</template>

<script>
import Region from '@/components/cells/Region'
import Journal from '@/components/character/Journal'
import CharGen from '@/components/character/CharGen'
import Location from '@/components/cells/Location'
import { mapState } from 'vuex'
export default {
  name: 'LocalStats',
  props: {
    // current region for region tab
    currRegion: Number,
    currLoc: Number
  },
  components: {
    'char-gen': CharGen,
    region: Region,
    journal: Journal,
    location: Location
  },
  data() {
    return {
      // sets the default active tab to region
      active: 'Region'
    }
  },
  computed: {
    ...mapState(['avatar']),
    worldId: function() {
      return window.world.id
    },
    region: function() {
      return window.world.regions[this.currRegion]
    },
    location: function() {
      return window.world.locations[this.currLoc]
    }
  }
}
</script>
