<template>
  <Modal :dialog="dialog" width="30%">
    <v-layout slot="dialog-title">
      <span>
        <span class="headline">{{settlement.name}}: Climate Patterns over {{this.years}} Years</span>
      </span>
    </v-layout>
    <LineChart v-if="chart" :chartData="chart" x="Month" y="Temperature" slot="dialog-content"></LineChart>
    <v-btn color="secondary" @click="simulate" slot="dialog-actions">Simulate</v-btn>
    <v-btn flat @click="close" slot="dialog-actions">Close</v-btn>
  </Modal>
</template>

<script>
import Modal from '@/components/modals/Modal'
import LineChart from '@/components/charts/lineChart.js'
export default {
  name: 'ClimateModal',
  props: {
    settlement: {
      type: Object,
      required: true
    },
    close: {
      type: Function,
      required: true
    },
    dialog: {
      type: Boolean,
      required: true
    }
  },
  data() {
    return {
      chart: false,
      years: 30
    }
  },
  components: {
    Modal,
    LineChart
  },
  mounted() {
    this.simulate()
  },
  methods: {
    simulate() {
      const labels = [
        'January',
        'February',
        'March',
        'April',
        'May',
        'June',
        'July',
        'August',
        'September',
        'October',
        'November',
        'December'
      ]
      const [x, y] = this.settlement.loc
      const { latitude } = window.world.gps(x, y)
      const elev = this.settlement.elev
      const cycle = labels.length / 2
      let avgs = labels
        .map((_, i) => ((i < cycle ? i : 2 * cycle - i) / cycle) * 6)
        .map(i => window.world.temperature(latitude, i, elev))
      const temps = []
      const years = [...Array(this.years).keys()]
      years.forEach(() => {
        temps.push(
          avgs.map(
            (avg, i) =>
              avgs[i]
          )
        )
      })
      const high = avgs.map((_, i) => {
        return years.reduce(
          (max, j) => (max < temps[j][i] ? temps[j][i] : max),
          -Infinity
        )
      })
      const low = avgs.map((_, i) => {
        return years.reduce(
          (min, j) => (min > temps[j][i] ? temps[j][i] : min),
          Infinity
        )
      })
      const mean = avgs.map((_, i) => {
        return years.reduce((sum, j) => sum + temps[j][i], 0) / years.length
      })
      this.chart = {
        labels,
        datasets: [
          {
            label: 'High °C',
            borderColor: '#b75958',
            backgroundColor: '#f4a09f',
            fill: 2,
            data: high
          },
          {
            label: 'Low °C',
            borderColor: '#4d4dd6',
            backgroundColor: '#a4a4f9',
            fill: 2,
            data: low
          },
          {
            label: 'Avg °C',
            borderColor: 'black',
            fill: false,
            data: mean
          }
        ]
      }
    }
  },
  watch: {
    settlement: function() {
      this.simulate()
    }
  }
}
</script>
