<template>
    <modal :dialog="dialog">
        <div class="headline" slot="dialog-title">{{title}}</div>
        <v-layout row wrap class="ma-2" slot="dialog-content" v-if="title !== '$'">
            <v-flex xs12>
                <v-card flat>
                    <v-card-title>
                        <div class="headline underline">Core Elements:</div>
                    </v-card-title>
                    <v-card-text>
                        <v-layout row wrap>
                            <v-flex xs2 class="ma-2">
                                <v-card height="100%">
                                    <v-card-title>
                                        <div class="headline">Appearance:</div>
                                    </v-card-title>
                                    <v-card-text class="mx-2">
                                        <ul>
                                            <li v-for="(v, i) in culture.appearence" :key="i">{{`${v[0]}: ${v[1]}`}}</li>
                                        </ul>
                                    </v-card-text>
                                </v-card>
                            </v-flex>
                            <v-flex v-for="title in ['Traits', 'Advantage']" :key="title" xs2 class="ma-2">
                                <v-card height="100%">
                                    <v-card-title>
                                        <div class="headline">{{title}}:</div>
                                    </v-card-title>
                                    <v-card-text class="mx-2">
                                        <ul>
                                            <li v-for="(v, i) in culture[title.toLowerCase()]" :key="i">{{`${v[0]}: ${v[1]}`}}</li>
                                        </ul>
                                    </v-card-text>
                                </v-card>
                            </v-flex>
                            <v-flex xs2 class="ma-2">
                                <v-card height="100%">
                                    <v-card-title>
                                        <div class="headline">Attributes:</div>
                                    </v-card-title>
                                    <v-card-text class="mx-2">
                                        <ul>
                                            <li v-for="(v, i) in culture.attributes" :key="i">{{`${v[0]}: ${v[1]}`}}</li>
                                        </ul>
                                    </v-card-text>
                                </v-card>
                            </v-flex>
                            <v-flex xs3 class="ma-2">
                                <v-card height="100%">
                                    <v-card-title>
                                        <div class="headline">Persona:</div>
                                    </v-card-title>
                                    <v-card-text class="mx-2">
                                        <ul>
                                            <li v-for="(v, i) in culture.persona" :key="i">{{`${v[0]}: ${v[1]}`}}</li>
                                        </ul>
                                    </v-card-text>
                                </v-card>
                            </v-flex>
                        </v-layout>
                    </v-card-text>
                </v-card>
                <v-divider class="ma-2"></v-divider>
                <v-card v-if="culture.language" flat>
                    <v-card-title>
                        <div class="headline underline">Language:</div>
                    </v-card-title>
                    <v-card-text>
                        <v-layout row wrap>
                            <v-flex xs5 class="ma-2">
                                <v-card height="100%">
                                    <v-card-title>
                                        <div class="headline">Sounds:</div>
                                    </v-card-title>
                                    <v-card-text class="mx-2">
                                        <ul>
                                            <li v-for="(v, i) in culture.language.sounds" :key="i">{{v}}</li>
                                        </ul>
                                    </v-card-text>
                                </v-card>
                            </v-flex>
                            <v-flex xs3 class="ma-2">
                                <v-card height="100%">
                                    <v-card-title>
                                        <div class="headline">Statistics:</div>
                                    </v-card-title>
                                    <v-card-text class="mx-2">
                                        <ul>
                                            <li v-for="(v, i) in culture.language.statistics" :key="i">{{v}}</li>
                                        </ul>
                                    </v-card-text>
                                </v-card>
                            </v-flex>
                            <v-flex xs10 class="ma-2">
                                <v-card height="100%">
                                    <v-card-title>
                                        <div class="headline">Morphemes:</div>
                                    </v-card-title>
                                    <v-card-text class="mx-2">
                                        <ul>
                                            <li v-for="(v, i) in culture.language.morphemes" :key="i">{{v}}</li>
                                        </ul>
                                    </v-card-text>
                                </v-card>
                            </v-flex>
                        </v-layout>
                    </v-card-text>
                </v-card>
            </v-flex>
        </v-layout>
        <v-btn flat @click="close" slot="dialog-actions">Close</v-btn>
    </modal>
</template>

<script>
import Modal from '@/components/modals/Modal'
export default {
  name: 'CultureModal',
  props: {
    culture: {
      type: Object,
      default: function() {
        return { name: '$' }
      }
    },
    close: {
      type: Function,
      required: true
    },
    dialog: {
      type: Boolean,
      required: true
    }
  },
  components: {
    modal: Modal
  },
  computed: {
    title: function() {
      return this.culture.name
    }
  }
}
</script>
