<template>
    <modal :dialog="dialog" width="30%" v-if="npc.name !== '$'">
        <v-layout slot="dialog-title">
            <span>
                <span class="headline">{{npc.name}}</span>
            </span>
        </v-layout>
        <v-layout row wrap slot="dialog-content">
            <v-flex class="ml-2 capitalize" xs12>Index: {{npc.idx}}</v-flex>
            <v-flex class="ml-2 capitalize" xs12>Gender: {{npc.gender}}</v-flex>
            <v-flex class="ml-2" xs12>Culture: {{`${npc.race.name}`}}</v-flex>
            <v-flex class="ml-2" xs12>Profession: {{npc.profession}}</v-flex>
            <v-flex class="ml-2" xs12>Age: {{npc.age}}</v-flex>
            <v-flex class="ml-2" xs12>Location: {{locations[npc.location].description}}</v-flex>
        </v-layout>
        <v-btn flat @click="close" slot="dialog-actions">Close</v-btn>
    </modal>
</template>

<script>
import Modal from '@/components/modals/Modal'
export default {
  name: 'SettlementModal',
  props: {
    npc: {
      type: Object,
      default: function () {
        return { name: '$' }
      }
    },
    close: {
      type: Function,
      required: true
    },
    dialog: {
      type: Boolean,
      required: true
    }
  },
  components: {
    modal: Modal
  },
  computed: {
    locations: function() {
      return window.world.locations
    }
  }
}
</script>
