<template>
  <modal :dialog="dialog" width="30%">
    <v-layout slot="dialog-title">
      <span>
        <span class="headline">{{settlement.name}} ({{settlement.type}})</span>
      </span>
    </v-layout>
    <v-layout row wrap slot="dialog-content">
      <v-flex xs12>
        Region: {{settlement.region.name}}
      </v-flex>
      <v-flex xs12>
        Population: {{settlement.urban}} (Urban) + {{settlement.rural}} (Rural) = {{settlement.population}}
      </v-flex>
      <v-flex xs12>
        <span>{{localtime}}</span>
      </v-flex>
      <v-flex xs12>
        <span v-if="currLoc">Distance: {{dist.toFixed(2)}} mi ({{days.toFixed(2)}} days | {{hour.toFixed(2)}} hours | {{minutes.toFixed(2)}} minutes)</span>
      </v-flex>
    </v-layout>
    <v-btn flat @click="travel" slot="dialog-actions" v-if="currLoc" :disabled="dist === 0">{{dist > 0 ? 'Travel' : 'You are here'}}</v-btn>
    <v-btn flat @click="close" slot="dialog-actions">Close</v-btn>
  </modal>
</template>

<script>
import Modal from '@/components/modals/Modal'
import { mapState } from 'vuex'
export default {
  name: 'SettlementModal',
  props: {
    settlement: {
      type: Object,
      required: true
    },
    close: {
      type: Function,
      required: true
    },
    dialog: {
      type: Boolean,
      required: true
    }
  },
  components: {
    modal: Modal
  },
  computed: {
    ...mapState(['avatar', 'loc']),
    currLoc: function() {
      return window.world.locations[this.loc]
    },
    localtime: function() {
      return `Local Time: ${window.world.localtime(this.settlement).toLocaleString()}`
    },
    dist: function() {
      return this.settlement.loc ? this.currLoc.distanceTo(this.settlement) : -1
    },
    time: function() {
      return this.dist / this.avatar.speed
    },
    days: function() {
      return ~~(this.time / 24)
    },
    hours: function() {
      return this.time % 24
    },
    hour: function() {
      return ~~this.hours
    },
    minutes: function() {
      return (this.hours - this.hour) * 60
    }
  },
  methods: {
    travel() {
      const hours = this.time
      const minutes = (hours - ~~hours) * 60
      // update time and location based on elapsed time
      this.$store.commit('travel', {
        elapsed: { hours: hours, minutes: minutes },
        loc: this.settlement.idx
      })
      this.close()
    }
  }
}
</script>
