<template>
  <modal :dialog="dialog">
    <div class="headline" slot="dialog-title">Trials</div>
    <v-layout row wrap slot="dialog-content">
      <v-flex xs12 class="mb-2" v-if="start">
        <v-layout row wrap justify-center>
          <v-flex xs5 class="mr-1">
            <div class="title mb-1">Heroes:</div>
            <v-expansion-panel>
              <v-expansion-panel-content v-for="i in count" :key="i">
                <div slot="header">
                  {{`${unitA.npcs[i-1].name} (${unitA.npcs[i-1].profession})`}}
                  <v-progress-linear :value="health(unitA.npcs[i-1])" color="red"></v-progress-linear>
                </div>
                <v-card>
                  <v-card-text class="grey lighten-4">
                    <ul class="ml-4">
                      <li v-for="(r, i) in stats(unitA.npcs[i-1])" :key="i" class="capitalize">{{r}}</li>
                    </ul>
                  </v-card-text>
                </v-card>
              </v-expansion-panel-content>
            </v-expansion-panel>
          </v-flex>
          <v-flex xs5>
            <div class="title mb-1">Adversaries:</div>
            <v-expansion-panel>
              <v-expansion-panel-content v-for="i in count" :key="i">
                <div slot="header">
                  {{`${unitB.npcs[i-1].name} (${unitB.npcs[i-1].profession})`}}
                  <v-progress-linear :value="health(unitB.npcs[i-1])" color="red"></v-progress-linear>
                </div>
                <v-card>
                  <v-card-text class="grey lighten-4">
                    <ul class="ml-4">
                      <li v-for="(r, i) in stats(unitB.npcs[i-1])" :key="i" class="capitalize">{{r}}</li>
                    </ul>
                  </v-card-text>
                </v-card>
              </v-expansion-panel-content>
            </v-expansion-panel>
          </v-flex>
        </v-layout>
      </v-flex>
      <v-flex xs10 offset-xs1 class="mb-1">
        <v-expansion-panel dark>
          <v-expansion-panel-content class="elevation-1">
            <div slot="header">Combat Log:</div>
            <v-expansion-panel dark>
              <v-expansion-panel-content v-for="(entry, i) in combat.log" :key="i">
                <div slot="header">{{entry.name}}</div>
                <v-card>
                  <v-card-text class="grey darken-2">
                    <ul class="ml-4">
                      <li v-for="(r, i) in entry.data" :key="i">{{r}}</li>
                    </ul>
                  </v-card-text>
                </v-card>
              </v-expansion-panel-content>
            </v-expansion-panel>
          </v-expansion-panel-content>
        </v-expansion-panel>
      </v-flex>
    </v-layout>
    <v-btn flat @click="tick" v-if="!combat.complete" slot="dialog-actions">Tick</v-btn>
    <v-btn flat v-if="combat.complete" slot="dialog-actions" disabled>Done</v-btn>
    <v-btn flat @click="close" slot="dialog-actions">Close</v-btn>
  </modal>
</template>

<script>
import Modal from '@/components/modals/Modal'
import Unit from '@/model/entities/unit'
import Combat from '@/model/events/combat'
import NPCFactory from '@/model/entities/factories/npcFactory'
export default {
  name: 'TrialsModal',
  props: {
    close: {
      type: Function,
      required: true
    },
    dialog: {
      type: Boolean,
      required: true
    }
  },
  data() {
    return {
      count: 3,
      start: false,
      unitB: {},
      combat: { log: [], complete: false }
    }
  },
  mounted() {
    this.spawnEnemies()
    this.combat = new Combat([this.unitA, this.unitB])
    this.start = true
  },
  components: {
    modal: Modal
  },
  computed: {
    avatar: function() {
      return this.$store.getters.avatar
    },
    location: function() {
      return this.$store.getters.location
    },
    world: function() {
      return this.$store.getters.world
    },
    unitA: function() {
      return this.$store.getters.heroes
    }
  },
  methods: {
    spawnEnemies() {
      this.unitB = new Unit(
      NPCFactory.adventurer({location: this.location}),
      NPCFactory.adventurer({location: this.location}),
      NPCFactory.adventurer({location: this.location})
    )
    },
    stats(npc) {
      return [
        `${npc.gender} ${npc.race.climate} ${npc.race.subRace} (${npc.race.name})`,
        `Health: ${npc.health.toFixed(2)}/${npc.maxHealth.toFixed(2)}`
      ]
    },
    health(npc) {
      return npc.health / npc.maxHealth * 100
    },
    tick() {
      this.combat.tick()
    }
  }
}
</script>
<style scoped>
.progress-linear {
  margin: 0;
}
</style>

