<template>
  <v-app light>
    <v-toolbar app  :style="{'z-index': 3, position: 'absolute'}">
      <v-toolbar-title class='clickable' @click='clearState'>Nexus{{id ? ` (${id})` : ''}}</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-toolbar-items>
        <!-- <v-btn flat :disabled="!id" :loading="saving" @click="save">Save</v-btn>
        <upload title="Load" :action="load"></upload>-->
        <v-btn flat :disabled='!id' :loading='saving' @click='exportSVG'>Export</v-btn>
      </v-toolbar-items>
    </v-toolbar>
    <v-content>
      <v-container fluid>
        <v-layout row wrap v-if='id && !demo'>
          <v-flex xs6 class='ml-5 mb-1'>
            <global-stats :updateRegion='updateRegion'></global-stats>
          </v-flex>
          <v-flex xs5 class='ml-5 mb-1'>
            <local-stats :currRegion='region' :currLoc='location'></local-stats>
          </v-flex>
          <v-flex xs12 v-if='avatar.name'>
            <character></character>
          </v-flex>
        </v-layout>
        <v-layout row wrap v-if='id && demo'>
          <v-flex xs12>
            <Demo :updateRegion='updateRegion' v-if='id && demo'></Demo>
          </v-flex>
        </v-layout>
        <landing v-show='!id'></landing>
      </v-container>
    </v-content>
    <v-footer fixed app>
      <span>&copy; 2017</span>
    </v-footer>
  </v-app>
</template>

<script>
import Landing from '@/components/Landing'
import Demo from '@/components/Demo'
import serialize from '@/model/utilities/serialize.js'
import LocalStats from '@/components/LocalStats'
import GlobalStats from '@/components/GlobalStats'
import Character from '@/components/Character'
import Upload from '@/components/generic/Upload'
import { mapState } from 'vuex'
export default {
  name: 'Nexus',
  components: {
    character: Character,
    'global-stats': GlobalStats,
    landing: Landing,
    'local-stats': LocalStats,
    upload: Upload,
    Demo
  },
  data() {
    return {
      // current region for regional display
      currRegion: -1,
      currLoc: -1,
      // controls save button loading spinner
      saving: false,
      demo: false
    }
  },
  computed: {
    ...mapState(['id', 'avatar', 'loc', 'time']),
    location: function() {
      return this.loc >= 0 ? this.loc : this.currLoc
    },
    region: function() {
      const loc = window.world.locations[this.loc]
      return this.loc >= 0 ? loc._region : this.currRegion
    }
  },
  methods: {
    updateRegion(region, loc) {
      this.currRegion = region
      this.currLoc = loc
    },
    load(result) {
      console.time('Load')
      // initiate deserialization
      const { world, avatar, loc, time } = serialize().deserialize(result)
      // rebuild the voronoi diagram
      world.rebuild()
      // set the world state
      window.world = world
      console.timeEnd('Load')
      this.$store.commit('load', {
        id: world.id,
        avatar: avatar,
        loc: loc,
        time: time
      })
    },
    save() {
      console.time('Save')
      // turn on the save spinner
      this.saving = true
      // delete the diagram from world becuase it doesn't save properly
      const diagram = window.world.diagram
      delete window.world.diagram
      // initiate serialization
      const text = serialize().serialize({
        world: window.world,
        avatar: this.avatar,
        loc: this.loc,
        time: this.time
      })
      console.timeEnd('Save')
      // re-add diagram
      window.world.diagram = diagram
      // create a text blob for the file conversion
      var blob = new Blob([text], { type: 'text/json;charset=utf-8;' })
      // create a dummy link
      let element = document.createElement('a')
      // set the reference to the new file blob
      element.setAttribute('href', URL.createObjectURL(blob))
      // set the download attribute with file name
      element.setAttribute('download', `${window.world.id}.json`)
      // make sure it doesnt get displayed
      element.style.display = 'none'
      // add the dummy link to the document
      document.body.appendChild(element)
      // click the dummy link to download the file
      element.click()
      // remove the dummy link
      document.body.removeChild(element)
      // turn off saving spinner
      this.saving = false
    },
    // https://stackoverflow.com/questions/42402584/how-to-use-google-fonts-in-canvas-when-drawing-dom-objects-in-svg
    GFontToDataURI(url) {
      return fetch(url) // first fecth the embed stylesheet page
        .then(resp => resp.text()) // we only need the text of it
        .then(text => {
          // now we need to parse the CSSruleSets contained
          // but chrome doesn't support styleSheets in DOMParsed docs...
          let s = document.createElement('style')
          s.innerHTML = text
          document.head.appendChild(s)
          let styleSheet = s.sheet

          // this will help us to keep track of the rules and the original urls
          let FontRule = rule => {
            let src =
              rule.style.getPropertyValue('src') ||
              rule.style.cssText.match(/url\(.*?\)/g)[0]
            if (!src) return null
            let url = src.split('url(')[1].split(')')[0]
            return {
              rule: rule,
              src: src,
              url: url.replace(/"/g, '')
            }
          }
          let fontRules = []
          let fontProms = []

          // iterate through all the cssRules of the embedded doc
          // Edge doesn't make CSSRuleList enumerable...
          for (let i = 0; i < styleSheet.cssRules.length; i++) {
            let r = styleSheet.cssRules[i]
            let fR = FontRule(r)
            if (!fR) {
              continue
            }
            fontRules.push(fR)
            fontProms.push(
              fetch(fR.url) // fetch the actual font-file (.woff)
                .then(resp => resp.blob())
                .then(blob => {
                  return new Promise(resolve => {
                    // we have to return it as a dataURI
                    //   because for whatever reason,
                    //   browser are afraid of blobURI in <img> too...
                    let f = new FileReader()
                    f.onload = e => resolve(f.result)
                    f.readAsDataURL(blob)
                  })
                })
                .then(dataURL => {
                  // now that we have our dataURI version,
                  //  we can replace the original URI with it
                  //  and we return the full rule's cssText
                  return fR.rule.cssText.replace(fR.url, dataURL)
                })
            )
          }
          document.head.removeChild(s) // clean up
          return Promise.all(fontProms) // wait for all this has been done
        })
    },
    async exportSVG() {
      this.saving = true
      // styles
      const { rules } = Object.values(document.styleSheets)
        .filter(css => !css.href)
        .find(css => css.rules && css.rules.length === 21)
      const style = Object.values(rules).map(r => r.cssText)
      const fonts = await this.GFontToDataURI(
        'https://fonts.googleapis.com/css?family=Tangerine'
      )
      const styles = document.createElement('style')
      styles.innerHTML = `'\n<![CDATA[${style.concat(fonts).join('\n')}]]>\n'`
      // svg
      const svg = document.getElementById('svgMaps').cloneNode(true)
      svg.setAttribute('xmlns', 'http://www.w3.org/2000/svg')
      svg.setAttribute('style', svg.getAttribute('style').replace(/(\d+)px;|100%;/g, '8000px;').replace(/max-.*/g, '').trim())
      const map = svg.getElementById('maps')
      map.setAttribute('transform', 'translate(0,0) scale(10)')
      svg.appendChild(styles)
      var svgData = svg.outerHTML
      var preface = '<?xml version="1.0" standalone="no"?>\r\n'
      var svgBlob = new Blob([preface, svgData], {
        type: 'image/svg+xml;charset=utf-8'
      })
      var svgUrl = URL.createObjectURL(svgBlob)
      var downloadLink = document.createElement('a')
      downloadLink.href = svgUrl
      downloadLink.download = `${this.id}.svg`
      document.body.appendChild(downloadLink)
      downloadLink.click()
      document.body.removeChild(downloadLink)
      this.saving = false
    },
    clearState() {
      this.$store.commit('shaper', '')
      this.$store.commit('clearAvatar')
    }
  },
  watch: {
    id: function() {
      this.currRegion = parseInt(Object.keys(window.world.regions)[0])
      this.currLoc = window.world.regions[this.currRegion].capital.idx
    }
  }
}
</script>

<style lang="stylus">
@import url('https://fonts.googleapis.com/css?family=Tangerine');

html, body, svg {
  width: 100%;
  height: 100%;
  margin: 0;
}

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.capitalize {
  text-transform: capitalize;
}

.clickable {
  cursor: pointer;
}

.underline {
  padding-bottom: 2px;
  border-bottom: #263238 3px solid;
}
</style>
