<template>
    <v-progress-linear v-model="progress" :colorFront="color" class="mr-5"></v-progress-linear>
</template>

<script>
export default {
  name: 'timedProgress',
  props: {
    color: {
      type: String,
      default: 'black'
    }
  },
  data() {
    return {
      progress: 0,
      frequency: 0.05,
      time: 5000
    }
  },
  mounted() {
    this.updateProgress()
  },
  computed: {
    increments: function() {
      return this.time * this.frequency / this.time * 100
    }
  },
  methods: {
    updateProgress() {
      setTimeout(() => {
        this.progress += this.increments
        if (this.progress < 100) {
          this.updateProgress()
        } else {
          this.progress = 100
        }
      }, this.frequency * this.time)
    }
  }
}
</script>
