<template>
    <v-btn flat class="jbtn-file">
        {{ title }}<input type="file" v-on:change="handleFile">
    </v-btn>
</template>

<script>
export default {
  name: 'upload',
  props: {
    action: Function,
    title: String
  },
  methods: {
    handleFile(e) {
      let files = e.target.files || e.dataTransfer.files
      if (!files.length) return
      let file = files[0]
      let fr = new FileReader()
      fr.onload = e => {
        this.action(fr.result)
      }
     fr.readAsText(file)
    }
  }
}
</script>

<style scoped>
.jbtn-file {
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.jbtn-file input[type='file'] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  cursor: inherit;
  display: block;
}
</style>